<section class="footer">
<div class="footer-box">
    <h3>Kokuka Space</h3>
    <p>Enjoy your coffee, enjoy the view!</p>
    <div class="social">
    <a href="https://www.instagram.com/kokuka.space?igsh=cWVocGw2NzJ2bXRk"
        ><i class="bx bxl-instagram"></i
    ></a>
    <a href="#"><i class="bx bxl-facebook"></i></a>
    <a href="#"><i class="bx bxl-twitter"></i></a>
    <a href="#"><i class="bx bxl-tiktok"></i></a>
    </div>
</div>
<div class="footer-box">
    <h3>Support</h3>
    <li><a href="#">Product</a></li>
    <li><a href="#">Help & Support</a></li>
    <li><a href="#">Return Policy</a></li>
    <li><a href="#">Term Of Use</a></li>
</div>
<div class="footer-box">
    <h3>View Guides</h3>
    <li><a href="#">Features</a></li>
    <li><a href="#">Careers</a></li>
    <li><a href="#">Blog Posts</a></li>
    <li><a href="#">Our Brances</a></li>
</div>
<div class="footer-box">
    <h3>Contact</h3>
    <div class="contact">
    <span
        ><i class="bx bxs-map"></i>Bumiroso, Watumalang, Wonosobo, Jawa
        Tengah</span
    >
    <span><i class="bx bxs-phone"></i>0895 4173 15052</span>
    <span><i class="bx bxs-envelope"></i>kokuka@gmail.com</span>
    </div>
</div>
</section>
<!--Copyright-->
<div class="copyright">
<p>Copyright © 2023 All Rights Reserved. Developed by Team</p>
</div>
