<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- ICON FOR WEBSITE -->
    <link rel="website icon" type="png" href="kokuka1.0.png" />
    <!-- FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&family=Shippori+Mincho+B1:wght@500&display=swap"
    rel="stylesheet"
    />
    <link rel="stylesheet" href="style/styleLoginRegister.css" />
    <link
    rel="stylesheet"
    href="https://unpkg.com/boxicons@latest/css/boxicons.min.css"
    />
    <title><%= title %></title>
</head>
<body>

    <%- body %>

</body>
</html>