<!--NAVBAR-->
<nav class="header">
    <a href="#" class="logo">
    <img src="imgAsset/kokuka.png" alt="" />
    </a>


    <!-- Link -->
    <ul class="navbar">
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#menu">Menu</a></li>
        <li><a href="#products">Produk</a></li>
        <li><a href="#gallery">Gallery</a></li>
    </ul>

    <div class="navbar-ekstra">
    <div class="logout-icon">
        <a href="/logout"><i class="fa-solid fa-right-from-bracket"></i></a>
    </div>
    <div class="hamburger-menu">
        <a href="" class="hamburger-icon"><i class="bx bx-menu" id="menu-icon"></i></a>
    </div>
    </div>

    <!--IKON NAVBAR-->
</nav>
