<!--NAVBAR-->
<nav class="header">
    <a href="#" class="logo">
    <img src="imgAsset/kokuka.png" alt="" />
    </a>

    <!-- Link -->
    <h1>Our Products</h1>

    <div class="navbar-ekstra">
        <div class="search-icon"><i class="fa-solid fa-magnifying-glass"></i></div>
        <div class="cart-icon"><i class="fa-solid fa-cart-shopping"></i></div>
    </div>
    <!--IKON NAVBAR-->
</nav>
