<section id="sidebar">
    <h1 class="title">Dashboard</h1>
    <ul>
        <li><a onclick="loadContent('products', event)" href="">Products</a></li>
        <li><a onclick="loadContent('users', event)" href="">Users</a></li>
    </ul>
</section>