<!--home-->
<section class="home" id="home">
    <div class="home-text">
    <h1>KOPI KULON KALI</h1>
    <p>Coffee | Workspace | Mood | Talks ⏰ Daily 10.00 AM - 11.00 PM</p>
    <a href="#menu" class="btn">Pesan sekarang</a>
    </div>
    <div class="home-img">
    <img src="imgAsset/kokuka.png" alt="Kokuka Logo" />
    </div>
</section>

<!--about-->
<section class="about" id="about">
    <div class="about-img">
    <img src="imgAsset/about.jpg" alt="" />
    </div>
    <div class="about-text">
    <h2>History</h2>
    <p>
        Kokuka Space merupakan tempat ngopi santai sembari menikmati suasana pedesaan dengan hamparan persawahan.  
        Letaknya tidak jauh dari pusat Kota Wonosobo, tepatnya di Desa Bumiroso, Kecamatan Watumalang, atau dapat ditempuh 
        sekitar 7 menit saja dari pusat kota. 
    </p>
    <p>
        Nama Kokuka  merupakan sebuah singkatan dari Kopi Kulon Kali. Hal ini berkaitan dengan letak Kokuka Space yang berada 
        di sebelah barat atau kulon Sungai Serayu.  Cafe ini mengusung konsep desain industrial yang terdapat pada area indoor
        maupun outdoor.
    </p>
    <p>
        Cafe ini menawarkan setiap sudut area yang cantik, dan menjadi spot menarik untuk berfoto bagi pengunjung. Terutama pada lantai dua ini menjadi andalan pengunjung untuk berswafoto dan menikmati view pedesaan dengan hamparan sawah terasering yang luas. 
        Tidak hanya itu, saat tertentu penampakan senja di sore hari dengan langit jingga juga semakin mengajak pengunjung untuk betah berlama-lama di sini.
    </p>
    <a href="#" class="btn">Kembali ke Beranda</a>
    </div>
</section>

<!--Menu-->
<section class="menu" id="menu">
    <div class="heading">
    <h2><span>Our</span> Menu</h2>
    </div>

<!--Container-->
<div class="menu-container">
    <div class="box">
    <img src="imgAsset/coffeemenu.jpg" alt="" />
    <h3>Coffee Menu</h3>
    <div class="content">
        <a href="/products">Lihat</a>
    </div>
    </div>
    <div class="box">
    <img src="imgAsset/noncoffee.jpg" alt="" />
    <h3>Non Coffee</h3>
    <div class="content">
        <a href="/products">Lihat</a>
    </div>
    </div>
    <div class="box">
    <img src="imgAsset/foodimg.jpg" alt="" />
    <h3>Food & Snack</h3>
    <div class="content">
        <a href="/products">Lihat</a>
    </div>
    </div>
</div>
</section>


<!--Gallery-->
<section class="gallery" id="gallery">
    <div class="container">
    <h2><span>Kokuka's</span> Gallery</h2>
    <div class="image-container">
        <div class="image"><img src="galeri/foto1.jpg" alt="" /></div>
        <div class="image"><img src="galeri/foto2.jpg" alt="" /></div>
        <div class="image"><img src="galeri/foto3.jpg" alt="" /></div>
        <div class="image"><img src="galeri/foto4.jpg" alt="" /></div>
        <div class="image"><img src="galeri/foto5.jpg" alt="" /></div>
        <div class="image"><img src="galeri/foto6.jpg" alt="" /></div>
    </div>
    </div>
</section>

<script src="js/script.js"></script>
