<div class="container-register">
    <h1 class="title">Register</h1>
    <form method="post" action="/register">
        <label for="username">USERNAME</label>
        <input type="text" id="username" name="username" placeholder="Masukkan username Anda!">
        <label for="email">EMAIL</label>
        <input type="email" id="email" name="email" placeholder="Masukkan email Anda!">
        <label for="password">PASSWORD</label>
        <input type="password" id="password" name="password" placeholder="Masukkan password Anda!">
        <button type="submit">REGISTER</button>
    </form>
</div>